/* Animations */
@keyframes width {
  from{
    width: 7vh;
  }

  to{
    width: 120px;
    justify-content: start;
    padding-left: 15px;
  }
}







/* Larger Screens */
body,html{
  margin: 0px;
  height: 100%;
}

.hero{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
}

.hero>img{
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 11;
  z-index: 0;
}

.empty{
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 11;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.677);
}

.nav-bar{
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 9;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth color transition */
}

.nav-bar>div{
  height: 7vh;
  width: 5vh;
  background-color: rgba(155, 151, 151, 0.877)   ;
  border-radius: 50px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 7px;
  padding-right: 7px;
}

.nav-bar>div>p{
  display: none;
}

.nav-bar>div>svg{
  height: 30px;
  width: 30px;
  color: black;
  display: inline-block;
}

.nav-bar> div:hover{
  background-color: #FF914D;
  animation: width 0.5s forwards 0s 1 ;
  min-width: 7vh;
  padding-right: 20px;
  gap: 10px;
  padding-left: 0px;
  justify-content: space-between;

}
.nav-bar>div:hover svg{
  color: white;
}
.nav-bar>div:hover p{
  color: white;
  display: inline;
  font-size: 1.5vw;
}


.inter-Name {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 4vw;
  color: #333333;
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 5;
  z-index: 2;
  padding-left: 100px;
  padding-top: 80px;
}

.inter-desc{
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 3vw;
  color: #4A5568;
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 6;
  z-index: 2;
  padding-left: 100px;
  padding-top: 180px;
}

.inter-desc>span{
  color: #4A5568;
  text-decoration: 2px  underline ;
}

.social-media-nav{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
  z-index: 2;
  width: 100%;
  padding-top: 280px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
}
.social-media-nav>a{
  display: inline-block;
  height: 1vw;
  width: 1vw;
}

.social-media-nav>a>div{
  height: 1vw;
  width: 1vw;
  background-color: rgba(155, 151, 151, 0.877)   ;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.social-media-nav>a>div>svg{
  color: black;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.social-media-nav>a>div:hover{
  background-color: #FF914D;
}

.social-media-nav>a>div:hover svg{
  color: white;
}
.float-btn{
  display: none;
}


/* Phone size */

@media (max-width: 600px) {
  .nav-bar{
    display: none;
  }

  .inter-Name{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 8;
    z-index: 2;
    padding: 0px;
    font-size: 7.5vw;
  }

  .inter-desc{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 11;
    z-index: 2;
    font-size: 5.5vw;
    padding: 0px;
    padding-top: 90px;
  }
  .social-media-nav{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
    z-index: 2;
    padding: 0px;
    padding-top: 70px;
  }

  .social-media-nav>a{
    display: inline-block;
  }
  
  .social-media-nav>a>div{
    height: 0.5vw;
    width: 0.5vw;
    background-color: rgba(155, 151, 151, 0.877)   ;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .social-media-nav>a>div>svg{
    color: black;
    transform: scale(5.5); 
  }

  .float-btn{
    height: 10vw;
    width: 10vw;
    z-index: 5;
    position: fixed;
    top: 20px ;
    right: 20px;
    background-color: #FF914D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .float-btn>svg{
    height: 6vw;
    width: 6vw;
    color: white;
    position: fixed;
  }


}

/* Tab Size */

@media (min-width: 600px) and (max-width:1024px){
  .nav-bar{
    display: none;
  }

  .inter-Name{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 8;
    z-index: 2;
    padding: 0px;
    font-size: 5vw;
  }

  .inter-desc{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 9;
    z-index: 2;
    padding: 0px;
    padding-top: 120px;
  }

  .social-media-nav{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
    z-index: 2;
    padding: 0px;
    padding-top: 90px;
  }

  .social-media-nav>a{
    display: inline-block;
    height: 2vw;
    width: 2vw;
  }
  
  .social-media-nav>a>div{
    height: 2vw;
    width: 2vw;
    background-color: rgba(155, 151, 151, 0.877)   ;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
  }
  
  .social-media-nav>a>div>svg{
    color: black;
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  .float-btn{
    height: 5vw;
    width: 5vw;
    z-index: 2;
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #FF914D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 10px;
  }

  .float-btn>svg{
    height: 3vw;
    width: 3vw;
    color: white;
  }
  
}

