body{
  background-color: #12001F   ;
  margin: 0px
}

html{
  scroll-behavior: smooth;
}

.hero{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100% 100%;
  height: 100%;
}

#second-nd{
  height: fit-content;
  width: 100%;
}

.nav{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 3em;
  width: 25rem;
  margin-top: 2.5rem;
  perspective: 500px;
  z-index: 1;
}
.nav>h1{
  color: white;
  font-size: 1.2em;
}

.nav>a>h1{
  color: white;
  font-size: 1.2em;
}

.nav>a:hover{
  transform: translateZ(20px);
  transition-duration: 0.5s;
  cursor: pointer;
}

.nav>h1:hover{
  transform: translateZ(20px);
  transition-duration: 0.5s;
  cursor: pointer;
}

@keyframes slide_left_to_right {
  from{
    transform: translateX(-10px);
    opacity: 0;
  }

  to{
    transform: translateX(0px);
    opacity: 1;
  }
}



.quote{
  opacity: 0;
  animation: slide_left_to_right 1s ease-in forwards;
  animation-iteration-count:initial;
}

.quote >h1{
  color: white;
  margin-left: 3rem;
  margin-top: 5rem;
  font-size: 4rem;
}


.neon{
  background-color: #D40078 ;
  margin-right: 0px;
  height: 100%;
  width: 100%;
  border-radius: 0% 0px 0px 70%;
  filter: blur(75px);
  grid-row-start: 1;
  grid-column-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  z-index: 1;
}

.avatar{
  height: 60%;
  width: 60%;
  border-radius: 50%; 
  box-shadow: 3px 3px #36224251;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  z-index: 2;
  margin-top: 15%;
  margin-left: 20%;
}

img{
  height: 100%;
  width: 100%;
  border-radius: 50%; 
}

@keyframes glass {
  from{
    transform: translateY(500px);
  }

  to{
    transform: translateY(-1400px);
  }
}

.about{
  z-index: 3;
  height: fit-content;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.027);
  border-radius: 20px;
  backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.027);
  border-top: 2px solid rgba(255, 255, 255, 0.07);
  border-right: 2px solid rgba(255, 255, 255, 0.07);
  box-shadow: 1px 1px rgba(255, 255, 255, 0.197);
  animation: glass 2s ease-in 0s forwards;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about>div{
  background-color: rgba(255, 255, 255, 0);
  width: 350px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom:20px;
  height: 400px;
  backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.07);
  box-shadow: 1px 1px rgba(255, 255, 255, 0.062);
  animation: glass 2s ease-in 0s forwards;
}

.about>div>h1{
  margin-left: 20px;
  margin-right: 10px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.711);
}

.about>div>p{
  font-size:medium;
  margin-left: 20px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.711);

}

a{
  text-decoration: none;
  color: white;
}
